<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <div class="header__div">
                    <a class="header__nav__link" href="">
                        <img class="header__nav__link__img" src="../static/img/profile.png" alt="#">
                        <ul class="header__nav__link__list">
                            <li>
                                <p class="header__nav__link__nik">123</p>
                            </li>
                            <li>
                                <p class="header__nav__link__name">123</p>
                            </li>
                        </ul>
                    </a>
                    <ul class="header__list__nav">
                        <li class="header__item__nav">
                            <a href="">Home</a>
                        </li>
                        <li class="header__item__nav">
                            <a href="">Explore</a>
                        </li>
                        <li class="header__item__nav">
                            <a href="">Notifications</a>
                        </li>
                        <li class="header__item__nav">
                            <a href="">Messages</a>
                        </li>
                    </ul>
                </div>
                <ul class="header__nav__list">
                    <li class="header__nav__item"><button class="header__nav__item__btn">Global</button></li>
                    <li class="header__nav__item"><button class="header__nav__item__btn">Following</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section>
                <ul>
                    <li>
                        <h1>123</h1>
                        <p>vgdsgvdxgbd</p>
                        <img src="" alt="">
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>

</html>