<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main class="profile">
        <section class="profile__me">
            <div class="container">
                <img class="profile__me__img" src="../static/img/profile.png" alt="#">
                <ul class="profile__me__list">
                    <li class="profile__me__item">123</li>
                    <li class="profile__me__item">321</li>
                    <li class="profile__me__item">556</li>
                    <li class="profile__me__item">61</li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>